.formControl.error input, .formControl.error textarea {
    border: brown 2px solid;
}

.formControl.error span {
    color: brown;
}

.formSummaryError {
    border: brown 2px solid;
    padding: 5px;
    color: brown;
}